/*
  See original at /css/style.styl
*/
@import normalize
@import aristo
@import layout

body.white {
  color: #222;
  background: #fff;

  h1 > a {
    color: #222;
  }
  // background color
  body, canvas {
    background: #fff;
  }
  // borders using the foreground color
  canvas {
    border: 2px solid #222;
  }
}

// TODO: all text should adapt to background color
// body.black {
//   color: #fff;
//   background: #000;

//   h1 > a {
//     color: #fff;
//   }
//   /* background color */
//   body, canvas {
//     background: #000;
//   }
//   /* borders using the foreground color*/
//   canvas {
//     border: 2px solid #fff;
//   }
// }

//
// top half of the page: canvases etc
//
body {
  font-family: Apex,"Helvetica Neue","HelveticaNeue","Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 100%;
  min-width: 950px; // also see layout.styl

  -webkit-transition: background-color 0.12s ease-out;
     -moz-transition: background-color 0.12s ease-out;
}
body > * {
  margin-left: 48px;
  margin-right: 48px;
}
h1 > a {
  text-decoration: none;
}
canvas {
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: normal;
}
#current {
  float: left;
  font-size: .9em;
}
p + canvas {
  margin-bottom: 1.5em;
}
div > p:first-child {
  margin-top: 0em;
}

// h3 + p {
//   margin-left: 1.5em
//   label {
//     margin-left: .75em
//     font-size: 1em;
//   }
// }

//
// headings for the two-column layout that holds the slicerack widget and
// the right panel (search and replace, also color palette)
//
.col2 {
  width: 100%;
  display: block;
  // overflow: hidden;
  margin-left: 0em;
  margin-right: 0em;

  > div:first-child {
    display: inline-block;
    // width: 24%;
    width: 310px;
    padding-right: 24px;
  }

  > div + div {
    display: inline-table;
    vertical-align: top;
    width: 60%;
    border-left: 2px solid black;
    padding-left: 22px;
  }
}
.headings {
  margin-top: .75em;
  margin-bottom: .75em;
  text-align: left;
  th {
    margin-left: 0;
    padding-left: 0;
    font-size: 1.2em;
    width: 310px;
  }
  th + th {
    width: 60%
  }
}


//
// sliceRack widget
//
#colors {
  margin-left: 0em;
  margin-right: 0em;
  font-size: .9em;
}
#colors > .color {
  padding: .75em;
  padding-left: 48px;
}

// hides and collapses dividers at the top, and that happen in a row
#colors > hr:first-child {
  display: none;
}
#colors > hr + hr {
  display: none;
}
#colors > hr {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.75);
  background-color: rgba(0,0,0,.75);
}

// adapt the text to the background of the swatch
.color.black {
  color: black;
}
.color.black:hover {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.5);
}
.color.black .c {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.color.black .c:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.color.white {
  color: white;
}
.color.white:hover {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
}
.color.white .c {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.color.white .c:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.color + .color {
  margin-top: 1.5em;
}
code, #colors {
  font-family: monaco, Andale Mono, "Courier New", monospace;
}

#recolors {
  input[type="text"] {
    width: 3em;
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.3);

    &.range {
      width: 2em;
    }
  }
}
li {
  margin-top: .75em
}

#schemer input {
  width: 2em;
}

//
// icons for recolor and slicerack widgets
//
.U {
  font-size: 1.4em;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.delete:hover, .clone:hover {
  cursor: pointer;
}
